image:
  repository: n8nio/n8n
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 3

service:
  type: ClusterIP
  port: 5678

ingress:
  enabled: true
  ingressClassName: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-northeast-2:461548484502:certificate/12a851a4-1a8a-4af9-8c39-1ecd5766eb25
    alb.ingress.kubernetes.io/security-groups: sg-0ecc845ec3bb8a611
    alb.ingress.kubernetes.io/subnets: subnet-0f7790155accf0489,subnet-0514043a18f654028,subnet-09e88dab298a36beb,subnet-09fad3574d5bd6bef
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/target-group-attributes: stickiness.enabled=true,stickiness.lb_cookie.duration_seconds=1800
  hosts:
    - host: n8n.ldccai.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - n8n.ldccai.com
      secretName: n8n-tls

resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 2
    memory: 2Gi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

redis:
  enabled: true
  image: redis:7-alpine
  port: 6379
  storage: 1Gi
  storageClassName: gp2

efs:
  enabled: true
  pvcName: n8n-efs-pvc
  mountPath: /home/node/.n8n
  storageClassName: efs-sc
  storage: 1Gi

env:
  - name: N8N_BASIC_AUTH_ACTIVE
    value: "true"
  - name: N8N_BASIC_AUTH_USER
    value: "admin"
  - name: N8N_BASIC_AUTH_PASSWORD
    value: "123bigdata"

  - name: N8N_HOST
    value: "n8n.ldccai.com"
  - name: N8N_PORT
    value: "5678"
  - name: WEBHOOK_URL
    value: "https://n8n.ldccai.com/"
  - name: GENERIC_TIMEZONE
    value: "Asia/Seoul"

  - name: EXECUTIONS_MODE
    value: "queue"
  - name: QUEUE_MODE
    value: "redis"
  - name: QUEUE_BULL_REDIS_HOST
    value: "n8n-redis.n8n.svc.cluster.local"
  - name: QUEUE_BULL_REDIS_PORT
    value: "6379"

  - name: DB_TYPE
    value: "postgresdb"
  - name: DB_POSTGRESDB_HOST
    value: "n8n-postgres.n8n.svc.cluster.local"
  - name: DB_POSTGRESDB_PORT
    value: "5432"
  - name: DB_POSTGRESDB_DATABASE
    valueFrom:
      secretKeyRef:
        name: n8n-postgres-secret
        key: POSTGRES_DB
  - name: DB_POSTGRESDB_USER
    valueFrom:
      secretKeyRef:
        name: n8n-postgres-secret
        key: POSTGRES_USER
  - name: DB_POSTGRESDB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: n8n-postgres-secret
        key: POSTGRES_PASSWORD
        
  - name: N8N_SESSION_SAVE_EVERY_REQUEST
    value: "true"
  - name: N8N_SESSION_DB_TYPE
    value: "postgresdb"
  - name: N8N_ENCRYPTION_KEY
    value: "qaY5ufgkxX+C7Ft025s8r1JpjMJVFHkwo9iJdxIeNoA="
